@import url(../../../app/components/jobboard/jobboard.component.scss);
a{
    cursor: pointer;
}
.nav-link.active {
    font-weight: bold;
    color: #0d6efd !important; /* Bootstrap primary color */
  }
  