/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
 outline: none;
 box-sizing: border-box;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
   }
   
:root {
 --body-bg-color: #e5ecef;
 --theme-bg-color: #fafafb;
 --body-font: "Poppins", sans-serif;
 --body-color: #2f2f33;
 --active-color: #0162ff;
 --active-light-color: #e1ebfb;
 --header-bg-color: #fff;
 --search-border-color: #efefef;
 --border-color: #d8d8d8;
 --alert-bg-color: #e8f2ff;
 --subtitle-color: #83838e;
 --inactive-color: #f0f0f0;
 --placeholder-color: #9b9ba5;
 --time-button: #fc5757;
 --level-button: #5052d5;
 --button-color: #fff;
}

.dark-mode {
 --body-bg-color: #1d1d1d;
 --theme-bg-color: #13131a;
 --header-bg-color: #1c1c24;
 --alert-bg-color: #292932;
 --body-color: #fff;
 --inactive-color: #292932;
 --time-button: #fff;
 --level-button: #fff;
 --active-light-color: #263d63;
 --border-color: #26262f;
 --search-border-color: #26262f;
}

::placeholder {
 color: var(--placeholder-color);
}

   body {
    background-color: var(--body-bg-color);
    font-family: var(--body-font);
    font-size: 15px;
    color: var(--body-color);
   }
   
   .dark-light svg {
    margin-right: 8px;
    width: 22px;
    cursor: pointer;
    fill: transparent;
    transition: 0.5s;
   }
   
   .dark-mode {
    .dark-light svg {
     fill: #ffce45;
     stroke: #ffce45;
    }
    .job-card svg {
     box-shadow: none;
    }
    .search.item {
     color: var(--body-color);
     border-color: var(--body-color);
    }
    .search-location,
    .search-job,
    .search-salary {
     svg {
      color: var(--body-color);
     }
    }
    .detail-button {
     background-color: var(--inactive-color);
     color: var(--subtitle-color);
    }
   }